## Q.1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.
### Solution :-

In [1]:
test1 = 'This is a test of the emergency text system,'
print(test1)
with open('test.txt','w') as file:
    file.write(test1)
    file.close()

This is a test of the emergency text system,

In [2]:
! type test.txt

This is a test of the emergency text system,

## ========================================================================

## Q.2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?
### Solution :-

In [3]:
with open('test.txt','r') as file:
    test2 = file.read()
    
print(test2)   
print(test1 == test2)

This is a test of the emergency text system,
True

## =========================================================================

## Q.3. Create a CSV file called books.csv by using these lines:
title,author,year

The Weirdstone of Brisingamen,Alan Garner,1960

Perdido Street Station,China Miéville,2000

Thud!,Terry Pratchett,2005

The Spellman Files,Lisa Lutz,2007

Small Gods,Terry Pratchett,1992
### Solution :-

In [4]:
data = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('book.csv','w') as file:
    file.write(data)

## =========================================================================

## Q.4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).
### Solution :-

In [19]:
import sqlite3
db = sqlite3.connect('book.db')
cursor = db.cursor()
cursor.execute("CREATE TABLE book (title text, author text, year int)")
db.commit()
db.close()

## ========================================================================

## Q.5. Read books.csv and insert its data into the books table.
### Solution

In [21]:
import sqlite3
import csv
conn = sqlite3.connect("book.db")
cursor = conn.cursor()
with open("book.csv","r") as file:
    book = csv.DictReader(file)
    for books in book:
        cursor.execute("INSERT INTO Book VALUES (?,?,?)",(books['title'],books['author'],books['year']))
conn.commit()
conn.close()

## ========================================================================

## Q.6. Select and print the title column from the books table in alphabetical order.
### Solution :-

In [22]:
import sqlite3
conn = sqlite3.connect('book.db')
cursor = conn.cursor()
output = cursor.execute("SELECT title FROM book ORDER BY title ASC")
for ele in output:
    print(ele[0])
conn.commit()
conn.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

## =========================================================================

## Q.7. From the books table, select and print all columns in the order of publication.
### Solution :-

In [23]:
import sqlite3
conn = sqlite3.connect('book.db')
cursor = conn.cursor()
ouput = cursor.execute("SELECT * FROM book ORDER BY year")
for record in ouput:
    print(record)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

## ========================================================================

## Q.8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.
### Solution :-

In [24]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

## =========================================================================

## Q.9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.
### Solution :-

In [1]:
!pip install redis

Requirement already satisfied: redis in c:\users\hp\anaconda3\lib\site-packages (5.0.1)
Requirement already satisfied: async-timeout>=4.0.2 in c:\users\hp\anaconda3\lib\site-packages (from redis) (4.0.3)

import redis
conn = redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

## =========================================================================

## Q.10. Increment the count field of test and print it.
### Solution :-

conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')

## ========================================================================